{% extends 'layout.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Product Page</h1>
            <p class="lead fw-normal text-white-50 mb-0">this is our about the Poduct </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="card m-3 p-5">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <!-- <p class="card-text">{{ product.id }}</p> -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
               <a href="{% url 'home' %}" class="btn btn-secondary">Home </a>
               <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to cart </button  >
            </div>
          </div>
        </div>
      </div>
</div>

<script>
  $(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'cartAdd' %}",
      data: {
        product_id: $('#add-cart').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post',
      },
      success: function(json){
        console.log(json)
      },
      error: function(xhr, errmsg, err){

      }
    });
  })
</script>
{% endblock %}