{% extends 'layout.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0"> Register your acc</p>
        </div>
    </div>
</header>
<div class="container m-5">
    <!-- <center> -->
    <div class="container">
            <form class="col-8" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    <!-- </center> -->

{% endblock %}