{% extends 'layout.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0"> Register your acc</p>
        </div>
    </div>
</header>
<div class="container m-5">
    <!-- <center> -->
    <div class="container">
            <form class="col-8" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <!-- <div class="mb-3"> -->
                    <!-- <label for="username" class="form-label">User Name</label> -->
                    <!-- <input type="text" class="form-control" id="username" name="username" aria-describedby="UserName"> -->
                    <!-- <div id="UserName" class="form-text">We'll never share your email with anyone else.</div> -->
                <!-- </div> -->
                <!-- <div class="mb-3"> -->
                    <!-- <label for="password" class="form-label">Password</label> -->
                    <!-- <input type="password" name="password" class="form-control" id="password" placeholder="enter your password"> -->
                <!-- </div> -->
                <!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    <!-- </center> -->
</div>

{% endblock %}