{% extends 'layout.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Profile</h1>
            <p class="lead fw-normal text-white-50 mb-0"> Update your Profile</p>
        </div>
    </div>
</header>
<div class="container m-5">
    <!-- <center> -->
    <div class="container">
            <form class="col-8" method="post" action="{% url 'updateUser' %}">
                {% csrf_token %}
                {{ userForm.as_p }}
                <button type="submit" class="btn btn-primary">Update Profile</button>
                <a href="{% url 'updatePassword' %}" class="btn btn-success" > Update Password</a>
            </form>
        </div>
    <!-- </center> -->

{% endblock %}