{% extends 'layout.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shoping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View your cart..........</p>
        </div>
    </div>
</header>
<!-- Section-->
 <div class="container">
    <!-- {{ productsInCart }} -->
      {% if productsInCart %}
    {% for product in productsInCart %}
    <div class="container">
        <div class="card m-3 p-5">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <!-- <p class="card-text">{{ product.id }}</p> -->
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                  <div class="row justify-content-center d-flex">
                    <div class="col-md-2"> Quantity: </div>
                    <div class="col-md-2"> 
                      <select class="form-select" id="quantity-cart">
                        <option selected>
                         {% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                               {{ value }}
                            {% endif %}
                         {% endfor %}
                        </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                   <a href="{% url 'home' %}" class="btn btn-secondary">Home </a>
                   <!-- <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to cart </button  > -->
                </div>
              </div>
            </div>
          </div>
    </div>
    {% endfor %}
    {% else %}
   <center> <h1 class="container m-5 p-5">No products in Cart</h1></center>
    {% endif %}
 </div>

{% endblock %}